SWAGGER_HOST=http://localhost:4002
PORT=4002

DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
TESSERACT_PATH=

BASE_URL=
DEV_URL=

UPLOAD_PATH=
LOG_PATH=

STATIC_OTP=
WA_API_URL=
WA_USER_NAME=
WA_PASSWORD=

FIREBASE_CREDENTIALS_PATH=